$bgcolor: #ff8888;
$txtColor: green;
$cwhite: #fafafa; 

body{
    background-color: $bgcolor;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 2em;
    font-size: 3ex;
}

section{
    padding: 5em;
    text-align: center;
}

h2, h3 {
    letter-spacing: 0.1em;
    span{
        // color: rgb(46, 179, 241);
        color: $cwhite;
    }
}

.block{
    border: 0.5em solid $cwhite;
    padding: 1em;
    display: flex;
    flex-direction: row;

    .name{
        color: $cwhite;
        font-size: 1.3em;
        text-decoration: underline #000;
    }
    .title{
        color: #1c1d1f;
        font-size: 1em;
    }

    .box{
        border: 0.2em dotted $cwhite;
        padding: 1em;
        margin: 1em;
        background-color: #f85211;
        background-image: linear-gradient(to bottom right, #e44343, rgb(235, 225, 225));
        transition: transform 0.2s;
    }

    .box:hover{
        transform: scale(1.1);
        border: 0.2em dotted #000;
    }
}
